<p style="color: green"><%= notice %></p>

<%= render @lab_report %>

<div>
  <%= link_to "Изменить эту лабораторную работу", edit_lab_report_path(@lab_report) %> |
  <%= link_to "Вернуться к списку лабораторных работ", lab_reports_path %>

  <%= button_to "Удалить эту лабораторную работу", @lab_report, method: :delete %>
</div>
